<% if local_assigns[:post] %>

<div id="<%= dom_id post %>">
  <h2>
    <strong>Title:</strong>
    <%= post.title %>
  </h2>

  <h3>
    <strong>Summary:</strong>
    <%= post.summary %>
  </h3>

  <p>
    <strong>Body:</strong>
    <%= simple_format post.body %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= post.active %>
  </p>

  <p>
      <strong>Created at:</strong>
      <%= post.created_at.strftime("%B %d, %Y") %>
    </p>

    <p>
      <strong>Updated at:</strong>
      <%= post.updated_at.strftime("%B %d, %Y") %>
    </p>

</div>

<% end %>

