<div id="<%= dom_id post %>">
  <h2>
    <strong>Title:</strong>
    <%= post.title %>
  </h2>

  <h3>
    <strong>Summary:</strong>
    <%= post.summary %>
  </h3>

  <p>
    <strong>Body:</strong>
    <%= simple_format post.body %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= post.active %>
  </p>

</div>
